<!DOCTYPE html>
<html>
  <head>
    <title>RPS Sinatra</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
<div>
<a href= "/rock"> Play Rock </a>
</div>
<div>
<a href = "/paper"> Play Paper </a>
</div>
<div>
<a href = "/scissors"> Play Scissors </a>
</div>
<h1> Welcome to Rock-Paper-Scissors </a>
<p> 
" From" 
<a href = "https://en.wikipedia.org/wiki/Rock-paper-scissors" target="_blank">
Wikipedia </a>
<p> "Rock-paper-scissors (also known as paper, scissors stone or other variants) is a hand game usually played between two people, in which each player simultaneously forms on of three shapes with an outstretched hand."
</p>
<p> These shapes are: </p>
<li> 
" "rock" (a closed fist)"
</li>
    <%= yield %>

  </body>
</html>
